<ion-header no-border>
    
      <ion-toolbar color="primary">
        <ion-buttons slot="secondary">
          
          <ion-button (click)="search()">
            <ion-icon slot="icon-only" name="search"></ion-icon>
          </ion-button>
        </ion-buttons>
       
        <ion-title>{{'TABS_FACTURAS.title' | translate}}</ion-title>
      </ion-toolbar>

      <ion-button name = "btnSucursales" *ngIf="lstSucursales?.length>1" expand = "full" (click)="mostrarPop($event)">
          <ion-icon slot="icon-only" name="business"></ion-icon>
          <ion-label [(ngModel)]="txtSucursal">{{'TABS_VENTAS.sucursal' | translate}} {{ txtSucursal}}</ion-label>
        </ion-button>

        <ion-button name = "btnSucursalesInternas" *ngIf="infraTipo==='Centralizado'" expand = "full" (click)="mostrarPopSucursal($event)">
          <ion-icon slot="icon-only" name="business"></ion-icon>
          <ion-label [(ngModel)]="txtNombreSucursalInterna">{{'TABS_VENTAS.sucursal' | translate}} {{ txtNombreSucursalInterna}}</ion-label>
        </ion-button>

      <ion-grid>
        <ion-row>
          <ion-col width = "50%">
            <ion-item  >
              <ion-label color="primary" position="floating">{{'TABS_FACTURAS.fecha_ini' | translate}}</ion-label>
              <ion-datetime  cancelText="Cancelar" doneText="OK" placeholder="Fecha Inicio" displayFormat="DD/MM/YYYY" name="initDate"  [(ngModel)]="initDate"></ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col width = "50%">
            <ion-item>
              <ion-label color="primary" position="floating">{{'TABS_FACTURAS.fecha_fin' | translate}}</ion-label>
              <ion-datetime cancelText="Cancelar" doneText="OK" displayFormat="DD/MM/YYYY" placeholder="Fecha Fin" name="endDate"   [(ngModel)]="endDate"></ion-datetime>
            </ion-item>
          </ion-col>         
        </ion-row>
      </ion-grid>
    
     
   <!--  <ion-item color="primary">
        <ion-title size="small" text-center >{{'TABS_FACTURAS.sub_title' | translate}}</ion-title>     
    </ion-item> -->
    </ion-header>
    
    <ion-searchbar  animated [(ngModel)]="searchText" placeholder="{{'TABS_VENTAS.buscar' | translate}}" color="primary" (ionChange)="buscar($event)"></ion-searchbar>

    <ion-content padding>
      
    
    
    <!-- 
    <ion-list>
      <ion-item #myVar button detail line="inset" *ngFor= "let obj of rows | filtrofactura : searchText : filterMetadata: 'Nit' :'Nombre'">
        <ion-label text-wrap>
          <h2>{{obj.Fecha | date: 'dd/MM/yyyy'}}</h2>
          <p>{{'TABS_FACTURAS.nro_factura' | translate}}:{{obj.IdFactura}} </p>
          <p>{{'TABS_FACTURAS.det_nit' | translate}}:{{obj.Nit}} {{'TABS_FACTURAS.det_nombre' | translate}}:{{ obj.Nombre}}</p>
          <ion-text color="success">
              <p>{{'TABS_FACTURAS.det_imptneto' | translate}} {{ obj.ImporteNeto | currency:'Bs.':'code' }}</p>
            </ion-text>           
        </ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
    </ion-list> -->
    
    <ion-virtual-scroll [items]= " rows | filtrofactura : searchText : filterMetadata: 'Nit' :'Nombre'" approxItemHeight="450px"  >
        
      <ion-item-group  *virtualItem="let obj; let itemBounds = bounds;" >
           <ion-label padding text-wrap>
            <h2>{{obj.Fecha | date: 'dd/MM/yyyy'}}</h2>
            <p>{{'TABS_FACTURAS.nro_factura' | translate}}:{{obj.IdFactura}} </p>
            <p>{{'TABS_FACTURAS.det_nit' | translate}}:{{obj.Nit}} {{'TABS_FACTURAS.det_nombre' | translate}}:{{ obj.Nombre}}</p>
            <ion-text color="success">
                <p>{{'TABS_FACTURAS.det_imptneto' | translate}} {{ obj.ImporteNeto | currency:'Bs.':'code' }}</p>
              </ion-text> 
          </ion-label>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item-group>
      
    </ion-virtual-scroll>
    
    
    </ion-content>
    
    <ion-footer>
       
        <ion-toolbar color="success">
          <ion-row no-padding >
            <ion-col width = "10%" no-padding>
              <ion-item  text-left color="success"> 
                <ion-label  [(ngModel)]="filterMetadata">R.{{ filterMetadata.count }}</ion-label>                    
                </ion-item> 
            </ion-col>
            <ion-col width = "10%" no-padding>
              <ion-item  text-left color="success"> 
                <ion-label  [(ngModel)]="sumTransacciones">T. {{ sumTransacciones }}</ion-label>                    
                </ion-item> 
            </ion-col>
            <ion-col width = "50%" no-padding>
              <ion-item  text-right color="success"> 
                <ion-label [(ngModel)]="sumTotal">{{'TABS_FACTURAS.det_total' | translate}}:{{sumTotal | currency:'Bs.':'code' }}</ion-label>                    
              </ion-item> 
            </ion-col>         
          </ion-row>
        </ion-toolbar>
      </ion-footer>
    