<ion-tabs #tabs >
	<ion-tab-bar slot="bottom" color="primary"> 
		<ion-tab-button tab="ventas">
			<ion-icon name="cash"></ion-icon>
			<ion-label>{{'TABS_GENERAL.tab_venta' | translate}}</ion-label>
		</ion-tab-button>
		<ion-tab-button tab="facturas">
				<ion-icon name="copy"></ion-icon>
				<ion-label>{{'TABS_GENERAL.tab_factura' | translate}}</ion-label>
			</ion-tab-button>
		<ion-tab-button tab="inventario">
			<ion-icon name="barcode"></ion-icon>
			<ion-label>{{'TABS_GENERAL.tab_inventario' | translate}}</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="profile">
			<ion-icon name="contact"></ion-icon>
			<ion-label>{{'TABS_GENERAL.tab_perfil' | translate}}</ion-label>
		</ion-tab-button>
	</ion-tab-bar>
</ion-tabs>